<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=/assets/style.css type=text/css rel=stylesheet />
    <title>Agregar usuario</title>
</head>
<body>
        <!-- Formulario utulizado para recuperar informacion de los usuarios -->
        <h1>Agregar usuario</h1>
        <form action="/addUser" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name"><br><br>
    
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
    
            <label for="password">Clave:</label>
            <input type="text" id="password" name="password"><br><br>
    
            <input type="submit" value="Agregar" class="button">
        </form>
</body>
</html>